beautifulsoup4==4.12.2
certifi==2022.12.7
charset-normalizer==3.1.0
command-not-found==0.3
dbus-python==1.2.18
distro-info===1.1build1
filelock==3.11.0
gdown==4.7.1
idna==3.4
line-notify==0.1.4
netifaces==0.11.0
PyGObject==3.42.0
PySocks==1.7.1
python-apt==2.3.0+ubuntu2
PyYAML==5.4.1
requests==2.28.2
six==1.16.0
soupsieve==2.4
tqdm==4.65.0
ubuntu-advantage-tools==27.7
ufw==0.36.1
urllib3==1.26.15
